<a href="https://colab.research.google.com/github/Vishhwassri32/numpy__prasticse/blob/main/numpy_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
students = np.array(["Aman", "Vishwas", "Priya", "Rohit", "Neha"])

# Marks: [Maths, Science, English]
marks = np.array([
    [78, 85, 90],
    [90, 88, 95],
    [65, 70, 60],
    [82, 79, 85],
    [95, 92, 98]
])

In [3]:
np.sum(marks)

np.int64(1252)

In [4]:
np.max

In [5]:
np.min

In [8]:
# 1. हर student का average marks
avg_marks = marks.mean(axis=1)
print("Average Marks of Students:", avg_marks)

# 2. हर subject का topper
subject_topper = marks.argmax(axis=0)
print("Maths Topper:", students[subject_topper[0]])
print("Science Topper:", students[subject_topper[1]])
print("English Topper:", students[subject_topper[2]])

# 3. Overall topper
overall_topper = avg_marks.argmax()
print("Overall Topper:", students[overall_topper])

# 4. Subject-wise average
subject_avg = marks.mean(axis=0)
print("Average in Maths, Science, English:", subject_avg)

# 5. Pass/Fail (assume pass = 40+ in all subjects)
pass_fail = np.all(marks >= 40, axis=1)
print("Pass/Fail Status:", pass_fail)

Average Marks of Students: [84.33333333 91.         65.         82.         95.        ]
Maths Topper: Neha
Science Topper: Neha
English Topper: Neha
Overall Topper: Neha
Average in Maths, Science, English: [82.  82.8 85.6]
Pass/Fail Status: [ True  True  True  True  True]

In [10]:
dta=np.mean(marks)
print(dta)

83.46666666666667

In [12]:
dte=np.median(marks)
print(dte)

85.0

In [13]:
dte=np.std(marks)
print(dte)

10.91095270308184

In [14]:
dte=np.var(marks)
print(dte)

119.0488888888889

In [18]:
dte=np.min(marks)
print(" min marks ofsudent :",dte)
dte=np.max(marks)
print(" max marks ofsudent :",dte)

 min marks ofsudent : 60
 max marks ofsudent : 98